.test-body {
    background: url("../images/test-background.png") no-repeat;
    background-size: cover;
    height: 100vh;
}

.test-button-style {
    float: left;
}

.test-content {
    display: flex;
    flex-direction: row;
    padding-top: 30px; 
    margin:auto 110px;
    position: relative;
    flex-wrap: wrap;
}

.test-card-style {
    box-shadow: 0px 0px 5px 1px #000000;
    width: 50rem;
    overflow-x: hidden;
}
